<button appDisableButtonOnLoad>Log in</button>

<button appDisableButtonOnLoad (click)="onToggleButtonClick()">
  Toggle content which also has a button. 
</button>

<p>This content might be visible by default based on stored user preference.
  So that button should also behave the same way. (have the directive on it)</p>
<seciton *ngIf="showSection">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Corrupti sequi incidunt tempora consequatur eum consequuntur dolores magni doloribus porro.
    Dolorem est distinctio neque aspernatur optio, deleniti explicabo. Rerum, laboriosam cum!</p>
  <button appDisableButtonOnLoad>Nested button</button>
</seciton>